.contact-form-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    padding: 95px 0;
    gap: 63px;


    .contact-form-title {
        line-height: 80px;
        font-size: 48px;
        font-weight: 600;
        padding: 0;
        margin: 0;
    }
    .contact-form-section {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    .contact-form-description {
        display: block;
        line-height: 28px;
        font-size: 18px;
        color: #9E9E9E;
        text-wrap: pretty;
        max-width: 600px;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        gap: 18px
    }

    .contact-form-input {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 80%;
        background-color: #18181C;
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 12px 28px;
        font-family: Poppins;
    }
    textarea.contact-form-input {
        resize: vertical;
        min-height: 100px;
        max-height: 150px;
    }
}