.footer {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    background-color: #18181C;
    color: #9E9E9E;
    padding: 50px 160px;

    .footer-right,
    .footer-left {
        flex: 1;
    }   

    
}

.footer-left-text-title {
    width: 300px;
}

.footer-center-menu-title {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.menu-wrapper {
    display: flex;
    gap: 105px;
}

.footer-center-menu-items {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: column;
    align-items: start;
}

a {
    text-decoration: none;
    color: #9E9E9E;
}

@media screen and (max-width: 450px){
    .footer{
        padding: 20px;
    }

    .footer-left-text-title{
        text-align: center;
    }

    .footer-left-logo{
        text-align: center;
    }


    .menu-wrapper{
        flex-wrap: wrap;
        gap: 70px;
    }
}